<li class="table-view-cell media">
  <a class="navigate-right" href="#inbox/{{ uid }}">
    <img class="media-object pull-left" src="{{ avatar }}">
    <div class="media-body">
      {{ subject }}
      <p>{{ body }}</p>
    </div>
  </a>
</li>
